<div class="cube">
    <img class="cube" src="{{cube.imageUrl}}">
    <p class="name">{{cube.name}}</p>
    <p><span>Difficulty level:</span> {{cube.difficultyLevel}}</p>
    <a class="btn" href="/details/{{cube._id}}">Details</a>
</div>