<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/about">About</a></li>
                {{#if validated}}
                <li><a href="/create">Add Cube</a></li>
                <li><a href="/createAccessory">Add Accessory</a></li>
                <li><a href="/users/logout">Logout</a></li>
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
            </ul>
        </header>
        <main>
            <img id="sadFaceImg"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.1yeDqnLayFlTKbt_7-T7lQHaHa%26pid%3DApi&f=1"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>